
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ...
*.egg-info
dist
dist/*
build
build/*

# Yutiriti Directory and Another Yutiriti Files.
requests/*

# Visual Studio Code
.vscode
.vscode/*

